@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

:root {
	--options-title-font-size: calc(0.8vw + 0.6rem);
	--options-font-size: calc(0.6vw + 0.5rem);
	--button-size: calc(0.6vw + 0.4rem);
	--explanation-title-size: calc(2vw + 1.3rem);
	--explanation-text-size: calc(0.8vw + 0.5rem);
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
}

button {
	border: none;
	outline: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #29233C;
	font-family: 'Poppins';
}

main {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0.8rem;
}

.main-header {
	margin-bottom: 1.6rem;
	padding-top: 2.15rem;
	text-align: center;
}

.main-header h1 {
	display: inline-block;
	text-align: center;
	font-size: calc(1.15vw + 1rem);
	padding: 0 10px;
	font-weight: 600;
	color: #B7A3C4;
	border-bottom: calc(0.2vw + 1.3px) solid #423960;
	box-shadow: 0 4px 0 0 #0002;
}

.setup {
	display: flex;
	border-radius: 4px;
	justify-content: space-between;
	gap: 1rem;
}

.disable-blur {
	pointer-events: none;
	user-select: none;
	filter: blur(0.9px) grayscale(50%);
}

.options-container {
	flex-basis: 70%;
}

.options-container h3, .algorithm-container h3 {
	color: #9783A4;
	font-size: var(--options-title-font-size);
	margin-bottom: 1rem;
}

.options {
	display: flex;
	gap: calc(2vw);
	align-items: center;
	flex-wrap: wrap;
}

.options .option {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.options .option label {
	color: #B7A3C4;
	font-size: var(--options-font-size);
	font-weight: 600;
}

.options .option input[type="range"] {
	width: calc(3vw + 3rem);
}

.options .option output {
	background-color: #9273a5;
	padding: 2px calc(0.6vw + 1px);
	border-radius: 4px;
	font-weight: 600;
	color: #2C283D;
	font-size: var(--options-font-size);
	letter-spacing: 1px;
}

.refill-btn {
	color: #B7A3C4;
	background-color: #373050;
	border-radius: 4px;
	padding: calc(0.5vw + 2px);
	font-size: var(--options-font-size);
	font-weight: 600;
	cursor: pointer;
	transition: filter 0.2s;
}

.refill-btn:hover {
	filter: drop-shadow(0 0 2px #0004);
}

.algorithm-container {
	flex-basis: 30%;
	margin-left: auto;
}

@media (max-width: 800px) {
	.options-container {
		flex-basis: 100%;
	}
}

@media (max-width: 600px) {
	.explanation {
		flex-direction: column !important;
		align-items: center;
	}
}

.sort-select {
	background-color: #9273a5;
	background-image: url("./assets/select_arrow.svg");
	background-repeat: no-repeat;
	background-position: calc(100% - 6px);
	padding: 6px 2rem 6px 8px;
	font-size: 1rem;
	color: #2c2640;
	appearance: none;
	border: 0px;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: var(--options-font-size);
}

.sort-select option {
	background-color: #2c2640;
	color: #aa92b9;
}

.algorithm {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: flex-start;
}

.toggle-animation-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 4px;
}

.algorithm .toggle-animation {
	padding: 4px 1rem;
	border-radius: 4px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter';
	font-weight: 600;
	font-size: var(--button-size);
	cursor: pointer;
}

.algorithm .already-sorted {
	color: #f33;
	font-family: 'Inter';
	font-size: 0.8rem;
}

.hide {
	display: none !important;
}

.start {
	background-color: #4f4;
}

.stop {
	background-color: #f44;
}

.algorithm .toggle-animation > img {
	width: 20px;
	height: 20px;
}

.header-state {
	align-items: center;
	justify-content: center;
	margin-top: 0.8rem;
}

.sort-animation-container .learn-more {
	width: 100%;
	margin-top: 0.3rem;
	text-decoration: none;
	font-size: 0.8rem;
	color: #fff;
	transition: color 0.2s;
}

.sort-animation-container .learn-more:hover {
	color: #D4D4D4;
}

.sort-animation {
	margin-top: 0.6rem;
	height: 360px;
	background-color: #372f50;
	padding: 1rem 1rem;
	display: flex;
	gap: 0.4%;
	align-items: flex-end;
}

.sort-element {
	background: #6F5EA1;
}

.comparing, .current, .swap {
	background: #f66;
}

.pivot {
	background: #6ff;
}

.iterator, .waiting {
	background: #66f;
}

.sorted {
	background: #6f6;
}

.explanation-container {
	display: flex;
	flex-direction: column;
	gap: 240px;
	margin-top: 240px;
	padding-top: 8rem;
}

.explanation-container .explanation-block:nth-child(even) 
	> .explanation-title {
	text-align: right;
	margin-right: 3rem;
}

.explanation-container .explanation-block:nth-child(even) 
	> .explanation {
	flex-direction: row-reverse;
}

.explanation {
	display: flex;
	justify-content: flex-start;
}

.explanation-title {
	color: #C8B1D8;
	font-size: var(--explanation-title-size);
	margin-bottom: 2rem;
}

.explanation > aside {
	padding: 0 4rem;
}

.explanation-text {
	color: #FFF;
	padding-top: 2rem;
	font-weight: 600;
	flex-basis: 600px;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	font-size: var(--explanation-text-size);
}

.highlight {
	color: #b799cc;
}

.explanation-block.which-to-use {
	margin-bottom: 200px;
}

.explanation > aside img {
	width: calc(10vw + 8rem);
	height: 220px;
}

.main-footer {
	background-color: #161320;
	height: 4rem;
	font-family: 'Inter';
	padding: 10px;
}

.links {
	max-width: 1024px;
	margin: 0 auto;
}

.github-repository {
	text-decoration: none;
	color: #A89FC6;
	padding: 4px;
	border-radius: 4px;
	display: inline-flex;
	gap: 6px;
}

.github-repository:hover {
	background-color: #211D30;
}